<%- include('../partials/header') %>

<h1>Edit Bag</h1>

<form class="edit-bags-form" action="/bags/<%= bag.id %>?_method=PUT" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= bag.name %>"/>
    <br />
    <label for="brand">Brand</label>
    <input type="text" name="brand" id="brand" value="<%= bag.brand %>"/>
    <br />
    <label for="color">Color</label>
    <input type="color" name="color" id="color" value="<%= bag.color %>"/>
    <br />
    <label for="capacity">Capacity</label>
    <input type="number" name="capacity" id="capacity" value="<%= bag.capacity %>"/>
    </select>
    <br />
    <!-- <label for="image">Image</label>
    <input type="file" name="image" id="image" value="<%= bag.image %>"/>
    <br /> -->
    <input type="submit" value="Update Bag" />
</form>
<br>

<form method="POST" action="/bags/<%= bag.id %>?_method=DELETE">
    <button type="submit">Delete</button>
  </form>
    
<%- include('../partials/footer') %>
