<%- include('../partials/header') %>

<body>
  <h1><%= title %></h1>
  <% if (bags.length === 0) { %>
    <p>No bags</p>
  <% } else { %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Color</th>
          <th>Capacity</th>
        </tr>
      </thead>
      <tbody>
        <% bags.forEach(function(bag) { %>
          <tr class="bag-row">
            <td><%= bag.name %></a></td>
            <td style="background-color: <%= bag.color %>"></td>
            <td><%= bag.discs.length %>/<%= bag.capacity %></td>
            <td class="bag-actions">
              <div class="bag-buttons">
                <form method="GET" action="/bags/<%= bag.id %>">
                  <button type="submit">View</button>
                </form>
                <form method="GET" action="/bags/<%= bag.id %>/edit">
                  <button type="submit">Edit</button>
                </form>
              </div>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</body>