<%- include('../partials/header') %>

<body>
  <h1><%= title %></h1><span><a href="/bags/new"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" id="plus"><path fill="#000" fill-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10ZM11 8a1 1 0 1 1 2 0v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H8a1 1 0 1 1 0-2h3V8Z" clip-rule="evenodd"></path></svg></a></span>
  <% if (bags.length === 0) { %>
    <p>No bags</p>
  <% } else { %>
    <table class="bag-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Color</th>
          <th>Capacity</th>
        </tr>
      </thead>
      <tbody>
        <% bags.forEach(function(bag) { %>
          <tr class="bag-row">
            <td><%= bag.name %></a></td>
            <td style="background-color: <%= bag.color %>"></td>
            <td><%= bag.discs.length %>/<%= bag.capacity %></td>
            <td class="bag-actions">
              <div class="bag-buttons">
                <form method="GET" action="/bags/<%= bag.id %>">
                  <button type="submit">View</button>
                </form>
                <form method="GET" action="/bags/<%= bag.id %>/edit">
                  <button type="submit">Edit</button>
                </form>
              </div>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</body>