<%- include('../partials/header') %>

<h2>Shelf:</h2>
<% if (user.shelf.discs) { %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Type</th>
      <th>Color</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% user.shelf.discs.forEach(d => { %>
    <tr>
      <td><%= d.name %></td>
      <td><%= d.brand %></td>
      <td><%= d.type %></td>
      <td><%= d.color %></td>
      <td>
        <a href="/discs/<%= d.id %>">View</a>
        <a href="/discs/<%= d.id %>/edit">Edit</a>
        <form method="POST" action="/discs/<%= d.id %>?_method=DELETE">
          <button type="submit">Delete</button>
        </form>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<p>No discs on this shelf</p>
<% } %>

  <%- include('../partials/footer') %>

