<%- include('../partials/header') %>

<h2><%= title %></h2>
<% if (user.shelf.discs) { %>
<div class="disc-grid">
  <% user.shelf.discs.forEach(d => { %>
  <div class="disc" style="background-color: <%= d.color %>">
    <p><%= d.name %></p>
    <p><%= d.brand %></p>
    <p><%= d.type %></p>
    <p><%= d.speed %>&nbsp;|&nbsp;<%= d.glide %>&nbsp;|&nbsp;<%= d.turn %>&nbsp;|&nbsp;<%= d.fade %></p>
    <div class="button-group">
      <form method="GET" action="/discs/<%= d.id %>">
        <button type="submit">View</button>
      </form>
      <form method="GET" action="/discs/<%= d.id %>/edit">
        <button type="submit">Edit</button>
      </form>
      <form method="POST" action="/discs/<%= d.id %>?_method=DELETE">
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>
  <% }); %>
</div>
<% } else { %>
<p>No discs on this shelf</p>
<% } %> <%- include('../partials/footer') %>
