<%- include('../partials/header') %>

<h1><%= title %></h1>
<h2>Bag Name: <%= bag.name %></h2>
<h2>Color: <%= bag.color %></h2>
<h2>Capacity: <%= bag.capacity %></h2>
<h2>Image: <%= bag.image %></h2>
<h2>Discs:</h2>
<% if (bag.discs.length) { %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Type</th>
      <th>Color</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% bag.discs.forEach(d => { %>
    <tr>
      <td><%= d.name %></td>
      <td><%= d.brand %></td>
      <td><%= d.type %></td>
      <td><%= d.color %></td>
      <td><img src="<%= d.image %>" /></td>
      <td>
        <a href="/discs/<%= d.id %>">View</a>
        <a href="/discs/<%= d.id %>/edit">Edit</a>
        <form method="POST" action="/discs/<%= d.id %>?_method=DELETE">
          <button type="submit">Delete</button>
        </form>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<p>No discs in this bag</p>
<% } %>
<a href="/bags/<%= bag.id %>/edit">Edit Bag</a>

  <%- include('../partials/footer') %>

