<%- include('../partials/header') %>
<div class="bag-details">
  <h1><%= title %></h1>
  <h2>Bag Name: <%= bag.name %></h2>
  <h2>Color: <section style="width: 50px; height: 20px; background-color: <%= bag.color %>;"></section></h2>
  <h2>Capacity: <%= bag.discs.length %>/<%= bag.capacity %></h2>
  <h2>Discs</h2>
</div>
<form id="sortForm" action="/bags/<%= bag._id %>" method="GET">
  <select name="sortby" onchange="document.getElementById('sortForm').submit();">
    <option value="name" <%= sortby === 'name' ? 'selected' : '' %>>Name</option>
    <option value="type" <%= sortby === 'type' ? 'selected' : '' %>>Type</option>
    <option value="brand" <%= sortby === 'brand' ? 'selected' : '' %>>Brand</option>
    <option value="speed" <%= sortby === 'speed' ? 'selected' : '' %>>Speed</option>
    <option value="glide" <%= sortby === 'glide' ? 'selected' : '' %>>Glide</option>
    <option value="turn" <%= sortby === 'turn' ? 'selected' : '' %>>Turn</option>
    <option value="fade" <%= sortby === 'fade' ? 'selected' : '' %>>Fade</option>
  </select>
</form>
<% if (bag.discs.length) { %>
<div class="disc-grid">
  <% bag.discs.forEach(d => { %>
    <div class="disc" style="background-color: <%= d.color %>">
      <p><%= d.name %></p>
      <p><%= d.brand %></p>
      <p><%= d.type %></p>
      <p><%= d.speed %>&nbsp;|&nbsp;<%= d.glide %>&nbsp;|&nbsp;<%= d.turn %>&nbsp;|&nbsp;<%= d.fade %></p>
      <div class="button-group">
        <form method="GET" action="/discs/<%= d.id %>">
          <button type="submit">View</button>
        </form>
        <form method="GET" action="/discs/<%= d.id %>/edit">
          <button type="submit">Edit</button>
        </form>
    </div>
  </div>
  <% }); %>
</div>
<% } else { %>
<p>No discs in this bag</p>
<% } %>

<%- include('../partials/footer') %>